{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs",

    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },

    // path configs, same as tsconfig.json
    "baseUrl": ".",
    "paths": {
      "~/*": ["src/*"]
    }
  },
  "env": {
    "targets": {
      "node": "20"
    }
  },
  "sourceMaps": true
}
